body, html {
    background-color: #333;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    color: #fff8dc;
}

#logo {
    font-weight: bold;
    font-size: 2em;
}
a#logo {
    color: #fff;
}
a#logo:hover {
    color: #ddd;
    text-decoration: none;
}
#page {
    width: 100%;
    /* height: 450px; */
    background-color: #2c2929;
    padding: 40px 0;
}
#page .container {
    display: block;
}
.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
a {
    color: #e90fa8;
    text-decoration: none;
}
a.active {
    color: #f0bce0;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #2b56e2;
    text-decoration: underline;
}
p {
    color: #fff8dc;
    line-height: 30px;
    font-weight: 100;
    font-family: sans-serif;
}
header {
    width: 100%;
    padding: 15px 0;
}
footer {
    width: 100%;
    padding: 40px 0;
    background-color: #1d1c1c;
}
footer .container {
    text-align: center;
    display: block;
    font-size: 8pt;
}
.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login {
    background: #333333;
    color: #efe7e7;
    padding: 5px 15px;
}
.registration {
    background: #e90fa8;
    color: #000;
    padding: 5px 15px;
    font-weight: bold;
}
.card {
    display: block;
    text-align: center;
    border: 1px solid #1d1c1c;
    padding: 15px;
    width: 28%;
    border-radius: 5px;
    margin: 25px 0px;
}

ul.menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

}
ul.menu li {
    list-style-type: none;
    padding: 0 10px;
}
